# /etc/systemd/system/ttncat-docker-compose.service
# systemctl enable ttncat-docker-compose

[Unit]
Description=TTN Catalunya Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ttncat/ttncat-docker-compose
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target